*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    height:100vh;
    background: url(./img/bg-profile-card.png) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card{
    width: 400px;
    text-align: center;
    border-radius: 8px;
    margin-top: 120px;
}

.card-header{
    background: #2c3a47;
    padding: 15px 40px;
    margin-bottom: 120px;
}

.pic{
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #74b9ff, #e66767);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient{
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
}

.pic img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.name{
    color: #f2f2f2;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}

.description{
    font-size: 18px;
    color: #e66767;
}

.redes-sociais{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.redes-sociais a{
    color: #f2f2f2;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
}

.redes-sociais a:hover{
    color: #e66767;
}

.contact-button{
    display: inline-block;
    padding: 12px 50px;
    color: #e66767;
    border: 2px solid #e66767;
    border-radius: 6px;
    margin-top: 16px;
    transition: .3s linear;
}

.contact-button:hover{
    background: #e66767;
    color: #f2f2f2;
}

.meu-curriculo{
    display: inline-block;
    padding: 12px 60px;
    color: #e66767;
    border: 2px solid #e66767;
    border-radius: 6px;
    margin-top: 16px;
    transition: .3s linear;
}

.meu-curriculo:hover{
    background: #e66767;
    color: #f2f2f2;
}

